
$mob-mainColor: #3D8988						    !default;
$base-backgroundColor: #F3F4F5                     !default;
$mob-borderColor: #F3F4F5                         !default;
$mob-fontColor: #515354 							!default;
$base-headerColor: #282A36						    !default;
$mob-leftNavColor: #343641						!default;

$mob-Transition: all .2s linear 					  !default;
$mob-BoxShadow: 0 1px 6px rgba(0,0,0,.2) 			!default;
$mob-fontSizeBase: 12px                              !default;
$mob-fontSizeBig: 14px                              !default;

$mob-ColorYellow: #E9A04B                         !default;
$mob-ColorRed: #C74F43                            !default;
$mob-ColorBrown: #9C856F                          !default;
$mob-ColorBrown2: #AE7838                          !default;
$mob-ColorRed2: #963C31                            !default;