
$ASApp-mainColor: #6D9DE2 !default;
$ASApp-mainColor-light: #8ab1e8 !default;
$ASApp-mainColor-shade: #577eb5 !default;
$ASApp-borderColor: #d7dada !default;
$ASApp-Red: #f30 !default;

$ASApp-fontsize: 14px !default;
$ASApp-Transition: all .2s linear !default;
$ASApp-BoxShadow: 0 0px 18px 1px rgba(0,0,0,0.26) !default;